# Dependencies
*.pyc
__pycache__/
*.egg-info/
dist/
build/

# Large files
*.pt
*.pth
*.tar
*.onnx

# Outputs
code/segmentation_results/
*.nii.gz


# IDE
.vscode/
.idea/
*.swp
*.swo
dataset/
drive_cookies.txt
monitor_vram.log
vram_monitor.log
prepare.sh
GPU_SETUP.md


